@font-face {
    font-family: "glyphicons";
    font-style: normal;
    src: url("../public/fonts/glyphicons-halflings-regular.eot") format("eot"),
         url("../public/fonts/glyphicons-halflings-regular.woff2") format("woff2"),
         url("../public/fonts/glyphicons-halflings-regular.woff") format("woff");
}

/* Size */
$mobile-width: 767px;

/* Fonts */
$font-stack: Helvetica, Arial, sans-serif;
$font-icons: glyphicons;

/* Colors */
$chart-orange: #ff9900;
$chart-darkgray: #424242;
$chart-lightgray: #e9e9e9;
$chart-mediumgray: #bcbcbc;
$chart-blue: #3299bb;

/* Master Styles */
* {
  font-family: $font-stack;
}

.app-icon {
  font-family: $font-icons;
}

.app-component-banner {

  background: $chart-darkgray;

  .app-component-header-link {
    cursor: pointer;
    font-size: 1.3em;
    color: $chart-lightgray;
    &:hover {
        background-color:$chart-lightgray;
        color: $chart-darkgray;
    }
  }

  .app-component-banner-collapsed {
    color: $chart-lightgray;
    &:hover {
        color: $chart-darkgray;
    }
  }

  .app-component-banner-logo-img {
    width: 30px;
    height: 30px;
    background-image: url('../public/logos/dB.svg');
    background-repeat: no-repeat;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    transition: 0.1s ease;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;

    &:hover {
      background-image: url('../public/logos/home.svg');
      opacity: 0.5;
      -webkit-opacity: 0.5;
      -moz-opacity: 0.5;
      transition: 0.1s ease;
      -webkit-transition: 0.1s ease;
      -moz-transition: 0.1s ease;
    }
  }

  .app-component-banner-logo {
    padding-top: 10px;
    cursor: pointer;
  }

}

.app-component-footer {

   background: $chart-lightgray;
   color: $chart-darkgray;

  .app-component-footer-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1em;
    color: $chart-darkgray;
    &:hover {
        background-color:$chart-darkgray;
        color: $chart-lightgray;
    }
  }

  .app-component-footer-credits {
    visibility: visible;
    @media screen and (max-width: $mobile-width) {
        visibility: hidden;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        position: absolute;
    }

    p {
      font-size: 0.8em;
    }
  }

}


.back-component {
  
  font-weight: bold;
  
  a {
    text-decoration: none;
    color: $chart-darkgray;

    &:hover {
      color: $chart-mediumgray;
    }
  }

}

// Utils
.img-transparence {
  opacity: 1;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  &:hover {
    opacity: 0.7;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
  }
}