<nav class="navbar navbar-fixed-bottom app-component-footer">
    <div class="container-fluid">
        <div class="navbar-header app-component-footer-credits">
            <p class="navbar-brand">de-boissieu.fr - 2017</p>
        </div>
        <div id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a class="app-component-footer-link" (click)="toTop()" title="Haut de page"><span class="glyphicon glyphicon-circle-arrow-up"></span></a></li>-->
                <li><a class="app-component-footer-link" (click)="toTop()" title="Haut de page">↑</a></li>
            </ul>
        </div>
    </div>
</nav>