<nav class="navbar navbar-default app-component-banner">
    <div class="container-fluid">
        <div class="" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="app-component-header-link" href="mailto:contact@de-boissieu.fr">Contact</a></li>
                <!--<li><a class="app-component-header-link" (click)="toTop()"><span class="glyphicon glyphicon-circle-arrow-up"></span></a></li>-->
                <li><a class="app-component-header-link" (click)="toTop()">Haut</a></li>
            </ul>
        </div>
    </div>
</nav>