<nav class="navbar navbar-default app-component-banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed app-component-banner-collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                <span class="app-icon glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a class="navbar-brand app-component-banner-logo" routerLink="/home" routerLinkActive="active" title="Accueil">
                <!--<img src="../public/logos/dB.svg" />-->
                <div class="app-component-banner-logo-img"></div>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
                <li><a class="app-component-header-link" routerLink="/marie" routerLinkActive="active">Marie</a></li>
                <li><a class="app-component-header-link" routerLink="/thibault" routerLinkActive="active">Thibault</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="app-component-header-link" href="mailto:contact@de-boissieu.fr">
                    <span class="app-icon glyphicon glyphicon-envelope"></span>
                </a></li>
            </ul>
        </div>
    </div>
</nav>