<div class="jumbotron">
    <h2>Bienvenue</h2>
    <p>Cette page est en cours de construction.</p>
    <div class="row home-tiles">
        <div class="col-md-6 home-tile-marie">
            <a class="app-component-header-link" routerLink="/marie" routerLinkActive="active">
                <p class="app-component-header-text">Marie de Boissieu <span class="badge">Forever Living Products</span></p>
                <img src="../public/logos/logo-forever.jpg" />
            </a>
        </div>
        <div class="col-md-6 home-tile-thibault">
            <a class="app-component-header-link" routerLink="/thibault" routerLinkActive="active">
                <p class="app-component-header-text">Thibault de Boissieu <span class="badge">Développeur Full-Stack</span></p>
                <img src="../public/logos/computer.svg" />
            </a>
        </div>
    </div>
</div>