/* Colors */
$chart-orange: #ff9900;
$chart-darkgray: #424242;
$chart-lightgray: #e9e9e9;
$chart-mediumgray: #bcbcbc;
$chart-blue: #3299bb;

/* Size */
$mobile-width: 767px;

.home-tiles {

    cursor: pointer;

    text-align: center;

    a {
        margin-bottom: 10px;
        text-decoration: none;
        color: $chart-darkgray;
    }
    
    img {
        width: 400px;
        @media screen and (max-width: $mobile-width) {
            width: 200px;
        }
    }

    .app-component-header-link {
        display: inline-block;
        position: relative;
    }

    .app-component-header-text {
        @media screen and (max-width: $mobile-width) {
            height: 200px;
            width: 200px;
            font-size: 2em;
        }

        height: 400px;
        width: 400px;
        display: table;
        position: absolute;
        left: 0;
        top: 0;
        
        cursor: pointer;
        
        background: rgba(0,0,0,0.8);
        color: white;
        font-size: 3em;
        opacity: 0;

        &:hover {
            opacity: 1;
            transition: 0.5s ease;
            -webkit-transition: 0.5s ease;
            -moz-transition: 0.5s ease;
        }

    }
}

