
$bootstrap-border-color: #ddd;

.thibault-card {
    padding-top: 15px;
    padding-bottom: 60px;
    text-align: center;
    border: 1px solid $bootstrap-border-color;
    border-radius: 3px;
}

.thibault-photo-id {
    width: 200px;
}