<back-home></back-home>

<div class="card thibault-card">
    <a href="https://linkedin.com/in/thibault-de-boissieu-7290ba36" target="blank">
        <img class="card-img-top thibault-photo-id" src="logos/linkedin_logo.svg" alt="Thibault de Boissieu">
    </a>
    <div class="card-block">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text">
            <a class="btn btn-default" href="https://linkedin.com/in/thibault-de-boissieu-7290ba36" target="blank">Retrouvez moi sur LinkedIn !</a>
        </p>
    </div>
</div>

<div class="container">
    <h2>Sandbox</h2>

    <!-- See https://ng-bootstrap.github.io/#/components/tabs/examples -->
    <ngb-tabset>
        <ngb-tab title="TP Shuffle">
            <ng-template ngbTabContent>
                <p>Une simple application de répartition aléatoire.</p>
                <tp-shuffle></tp-shuffle>  
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

