<back></back>

<div class="container marie-page">
  <div class="row">
    <div class="col-md-3">
      <div class="card marie-card">
        <img class="card-img-top marie-photo-id" src="../../../public/images/photo_marie.jpg" alt="Marie de Boissieu">
        <div class="card-block">
          <h4 class="card-title">{{title}}</h4>
          <p class="card-text">Découvrez mes activités.</p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Forever Living Products</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9">
              <p>Découvrez tout une gamme de cosmétiques et compléments alimentaires à base d'Aloe Vera.</p>
              <a class="btn btn-default" href="https://www.facebook.com/aloerevelation/" target="blank">Accéder à la page Facebook de Marie <br/>Aloe Révélation</a>
            </div>
            <div class="col-md-3 marie-logo">
              <a href="https://www.facebook.com/aloerevelation/" target="blank" title="Accès à la page Facebook @aloerevelation">
                <img class="marie-forever-img img-transparence" src="../../../public/logos/logo-forever.jpg" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Les Créations de Marie</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-7">
              <p>Venez voir mes créations textiles !</p>
              <a class="btn btn-default" href="https://creationsdemarie.fr" target="blank">Accéder au site des Créations de Marie</a>
            </div>
            <div class="col-md-5 marie-logo">
              <a href="https://creationsdemarie.fr" target="blank" title="Accès au site dédié creationsdemarie.fr">
                <img class="marie-cream-img img-transparence" src="../../../public/logos/banniere_cream.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>